.gig-postings-list__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4px;
  list-style-type: none;
  padding: 0;
  margin-top: 12px;
}

.gig-postings-list__header {
  text-align: center;
}
